<!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                      <li><a href="{% url 'anuncios' %}" class="active">Home</a></li>
                      <li><a href="{% url 'adicionar_anuncio' %}">Adicionar anuncio</a></li>
                      <li><a href="{% url 'meus_anuncios' %}">Meus anuncios</a></li>
                      <li><a href="{% url 'deslogar' %}">Sair</a></li>
                      <li><a href="#"><i class="fa fa-calendar"></i> Schedule a visit</a></li>
                  </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
<!-- ***** Menu End ***** -->